# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# We don't need the pkg directory involved here, at least for now
pkg/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
bin/goreturns
bin/gopls
bin/gopkgs
bin/golint
bin/godef
bin/gocode

bin/go-outline
bin/gocode-gomod
bin/dlv
